@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	user-select: none;
}
.alk-sanet {
	font-family: 'ALK Sanet', sans-serif !important;
}

.overflow-v::-webkit-scrollbar {
	/* display: none; */
}

.overflow-v::-webkit-scrollbar, body::-webkit-scrollbar {
	width: 4px;
}

.overflow-v::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
	background-color: #a1a1a1;
}
